# Source this file to set up the environment variables for the migration
# SOURCE information
export MS_SOURCE_SERVER='https://sourcehost.io'
export MS_SOURCE_CLIENT_ID='Nope'
export MS_SOURCE_CLIENT_SECRET='Nope'
export MS_SOURCE_ACCESS_TOKEN='Nope'
# TARGET information
export MS_TARGET_PROTOCOL="https"
export MS_TARGET_HOST="personal.instance.com"
export MS_TARGET_CLIENT_ID="No"
export MS_TARGET_CLIENT_SECRET="No"
export MS_TARGET_ACCESS_TOKEN="No"
